/* add global styles that can be loaded post LCP here */
.cards > ul {
  grid-template-columns: repeat(auto-fill, minmax(285px, 1fr));
}

.cards .cards-card-body h3 {
  text-align: center;
}

.cards .cards-card-image {
  text-align: center;
  padding-top: 15px;
}

.cards > ul > li img {
  width: auto;
  aspect-ratio: auto;
}