/* add global styles that can be loaded post LCP here */

:root, .dropin-design {
  --type-display-2-font: normal normal 300 3.6rem/4.6rem var(--type-base-font-family);
  --type-display-2-letter-spacing: 0.04em;
  --type-display-3-font: normal normal 300 2.4rem/3rem var(--type-base-font-family);
  --type-display-3-letter-spacing: 0.04em;
  --color-button-hover: #ef6122;
}

.cards > ul {
  grid-template-columns: repeat(auto-fill, minmax(285px, 1fr));
}

.cards .cards-card-body h3 {
  text-align: center;
}

.cards .cards-card-image {
  text-align: center;
  padding-top: 15px;
}

.cards > ul > li img {
  width: auto;
  aspect-ratio: auto;
}

header nav .nav-tools button.nav-cart-button[data-count]::after {
    background-color: #ef6122;
}

.cart-order-summary a.dropin-button {
    background: #ef6122;
}

.cart-order-summary a.dropin-button:hover{
    background: #454545;
}

.checkout-place-order button {
    background: #ef6122;
}

.checkout-place-order button:hover {
    background: #454545;
}
